<!DOCTYPE html>
<html lang="en">

<head>
    <script>document.write('<base href="'+ (window.location.hostname === 'olafjanssen.github.io' ? '/ttpotm/' : '/') + '">');</script>
    <!-- Matomo -->
    <script type="application/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        // Call disableCookies before calling trackPageView
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//ttpotm.com/matomo/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'application/javascript';
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
    <title>
        {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{url}}img/logo-01.png">
    <meta property="og:site_name" content="TTPotM Collective">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@nullelement" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{url}}img/logo-01.png" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/boilerpuddy.css">

    <link rel="canonical" href="{{ url }}" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-iphone.png" />

    <link rel="stylesheet" type="text/css" href="css/portal.css">
    <script src="js/fuse.min.js"></script>
</head>

<body class="typeset">
    <div class="container">
        <!-- UPDATED JUMBOTRON -->
        <div class="jumbotron row p-3 p-md-5 text-dark rounded bg-transparent" id="main-jumbo">
            <div class="col-md-6 px-0">
                <h1><img src="img/title-01.png" class="img-fluid" alt="TTPotM Collective"></h1>
            </div>
            <div class="col-md-6 px-0 align-self-center">
                <p class="lead">
                    A group of fictional voices creating works at the intersection of
                    language, philosophy, and play.
                </p>
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Search wisdom"
                           aria-label="Search" id="search-box">
                </form>
            </div>
        </div>

        <!-- SEARCH CONTAINER -->
        <div class="container tp-panel hide" id="search-container">
            <h2><code>ni li lon seme?</code><span> ~ search results</span></h2>
            <div class="list-group pb-3" id="search-results">
            </div>
        </div>
    </div>

        <!-- BOOKS -->
        <div class="book-container tp-panel">
            <h2><code>lipu mute</code><span> ~ books</span></h2>
            <div class="books-flex-container">
                {{#each collections.books}}
                <div class="book-card-item tp-book-card-border">
                    <div class="book-card-img">
                        <div class="book-3d">
                        <div class="book-3d__inner">
                            <img class="book-3d__cover" src="{{ cover }}" alt="{{ title }}">
                        </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="text-dark" href="{{ path }}">
                            <h3 class="card-title">{{ title }}</h3>
                            <p class="card-text">{{ description }}</p>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    <div class="container">
        <!-- SINGLE CREATIONS SECTION -->
        <div class="container tp-panel">
            <h2><code>musi mute</code><span> ~ our creations</span></h2>
            <div class="card-columns">
                {{#each collections.creations}}
                <div class="card flex-md-row tp-card-border">
                    {{#if thumb}}
                    <div class="my-card-img" style="background-image: url({{ thumb }});"></div>
                    {{/if}}
                    <div class="card-body">
                        <a class="text-dark" href="{{ path }}">
                            <h3 class="card-title">{{ title }}</h3>
                            <p class="card-text">{{ description }}</p>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>

    <!-- UPDATED FOOTER -->
    <div class="nav-bar navbar-dark p-3 mu-3" style="background-color: black;">
        <span class="navbar-text">
            <a class="nav-link" href="about/disclaimer/">Disclaimer | disclosure | self-critique</a>
        </span>
        <span>
            <script type='application/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
            <script type='application/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'W7W4Y6U0');kofiwidget2.draw();</script>
        </span>
        <span class="navbar-text self-right">
            <a href="https://www.facebook.com/gaming/ttpotm">Facebook</a> |
            <a href="https://twitter.com/TTPotM" target="_blank">Twitter</a> |
            <a href="https://www.instagram.com/ttpotm/" target="_blank">Instagram</a>
        </span>
        <span class="navbar-text self-right">
            TTPotM Collective, nominally curated by Dr. Olaf T.A. Janssen, PhD
        </span>
    </div>

    <script>
        function fetchJSONFile(path, callback) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === 4) {
                    if (httpRequest.status === 200) {
                        var data = JSON.parse(httpRequest.responseText);
                        if (callback) callback(data);
                    }
                }
            };
            httpRequest.open('GET', path);
            httpRequest.send();
        }

        var fuse, alldata;

        fetchJSONFile('/api/allfiles.json', function (data) {
            alldata = data;

            alldata.forEach(function (item) {
                item.sentences = item.contents.match(
                    /<p>.*?<\/p>/g); //item.contents.replace(/([.?!])\s*(?=[A-Z])/g, "$1|").split("|");
                if (item.sentences) {
                    item.sentences = item.sentences.filter(function (sentence) {
                        return sentence.indexOf('<img') === -1;
                    });
                }
            });

            var options = {
                shouldSort: true,
                tokenize: true,
                includeScore: true,
                includeMatches: true,
                findAllMatches: true,
                threshold: 0.2,
                maxPatternLength: 32,
                minMatchCharLength: 4,
                keys: [
                    "sentences"
                ]
            };
            fuse = new Fuse(alldata, options);
        });

        function updateHaystack(input, needle) {
            return input.replace(new RegExp('(' + needle + ')', 'ig'), '<strong>$1</strong>');
        }

        document.getElementById('search-box').addEventListener('input', function () {
            var value = document.getElementById('search-box').value;
            var results = fuse.search(value);

            let searchElement = document.getElementById('search-container');
            let resultElement = document.getElementById('search-results');
            resultElement.innerHTML = "";

            if (value === "") {
                searchElement.classList.add('hide');
            } else {
                searchElement.classList.remove('hide');
                results.forEach(function (result) {
                    result.matches.forEach(function (match) {
                        let quote = match.value;
                        quote = updateHaystack(quote, value);
                        quote += '<em>&#8212; ' + result.item.title + '</em>';
                        resultElement.innerHTML += '<a href="' + result.item.path +
                            '" class="list-group-item list-group-item-action border-0">' + quote +
                            '</a>'
                    });
                });
            }
        });
    </script>

</html>
