<!DOCTYPE html>
<html lang="en">

<head>
    <script>document.write('<base href="'+ (window.location.hostname === 'olafjanssen.github.io' ? '/ttpotm/' : '/') + '">');</script>
    <title>
        TTPotM - {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}img/{{ thumb }}">
    <meta property="og:site_name" content="TTPotM">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}{{ path }}/">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@nullelement" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{url}}img/{{ thumb }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="{{ url }}{{ path }}/" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-iphone.png" />

    <link rel="stylesheet" href="css/boilerpuddy.css">

    <link rel="stylesheet" type="text/css" href="css/portal.css">
</head>

<body class="typeset">
        <a href=""><img id="title-img" src="img/ttpotm.png" alt="TTPotM Collective"></a>

        <main role="main" class="container">
            {{{contents}}}

            <div class="container tp-panel">
                <h2><code>toki nasin nasa</code><span> ~ koans</span></h2>
                <div class="card-columns">
                    {{#each collections.tokiNasinNasa}}{{#if tag}}
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <a class="text-dark" href="creations/tokinasinnasa/{{ tag }}/">
                                <h4 class="card-title">{{ title }}</h4>
                                <p class="card-text">{{{ description }}}</p>
                            </a>
                        </div>
                    </div>
                    {{/if}}{{/each}}
                </div>
            </div>
        </main>
        <div class="nav-bar navbar-dark p-3 mu-3" style="background-color: black;">
            <span class="navbar-text">
                <a class="nav-link" href="about/disclaimer/">Disclaimer | disclosure | self-critique</a>
            </span>
            <span class="navbar-text self-right">
                <a href="https://awokenwell.com">Awoken Well</a> (2026)
            </span>
        </div>
</html>
