<!DOCTYPE html>
<html lang="en">

<head>
    <script>document.write('<base href="'+ (window.location.hostname === 'olafjanssen.github.io' ? '/ttpotm/' : '/') + '">');</script>
    <title>
        {{ titleprefix }} {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}{{og-image}}">
    <meta property="og:site_name" content="The Toki Ponist on the Mountain">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}{{ path }}/">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@nullelement" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{url}}img/logo-01.png" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/boilerpuddy.css">

    <link rel="canonical" href="{{ url }}{{ path }}/" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-iphone.png" />

    <link rel="stylesheet" type="text/css" href="css/topic.css">
    <style>

        .project-full-blurp cite {
            display: block;
            text-align: right;
        }

        koan {
            display: block;
            padding: 1em;
            background: lightgray;
            border-radius: 0.5em;
            margin: 1em 0;
        }

        koan li {
            list-style-type: none;
            padding-left: 1em;
        }

        koan ul {
            margin: 0 !important;
            padding: 0 !important;
        }
    </style>
</head>

<body class="typeset">

    <a href="./"><img src="img/title-01.png" alt="The Toki Ponist on the Mountain main page" id="title-img"></a>

    <section class="project-content">
        <article class="project-full">
            <h1>
                {{#if longtitle}}
                {{{ longtitle }}}
                {{else}}
                {{{ title }}}
                {{/if}}
            </h1>
            <p class="project-full-blurp">
                {{{ description }}}
                <cite>&mdash; Toki Ponist Pu</cite>
            </p>
            <p class="project-full-date">
                <span class="date">{{ date }}</span>
            </p>
            <div id="cnt-{{ tag }}" class="project-full-content">
                {{{ contents }}}

                {{#if previous}}
                    <p><a href="{{ previous.path }}/">Read a newer koan</a> (<em>{{ previous.description }}</em>)</p>
                {{/if}}

                {{#if next}}
                    <p><a href="{{ next.path }}/">Read an older koan</a> (<em>{{ next.description }}</em>)</p>
                {{/if}}
            </div>
        </article>
    </section>
    <div class="nav-bar navbar-dark p-3 mu-3" style="background-color: black;">
        <span class="navbar-text">
            <a class="nav-link" href="about/disclaimer/">Disclaimer | disclosure | self-critique</a>
        </span>
        <span class="navbar-text self-right">
            <a href="https://awokenwell.com">Awoken Well</a> (2026)
        </span>
    </div>
</body>

</html>
