<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Matomo -->
    <script type="application/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        // Call disableCookies before calling trackPageView 
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//ttpotm.com/matomo/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'application/javascript';
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
    <title>
        TTPotM Novel - {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}img/{{ thumb }}">
    <meta property="og:site_name" content="The Toki Ponist on the Mountain">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}{{ path }}/">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@nullelement" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{url}}img/{{ thumb }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="canonical" href="{{ url }}{{ path }}/" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-iphone.png" />

    <link rel="stylesheet" type="text/css" href="/css/topic.css">
</head>

<body class="typeset">
    <div class="container">
        <div class="jumbotron row p-3 p-md-5 text-dark rounded bg-transparent" id="main-jumbo">
            <div class="col-md-6 px-0"><a href="/"><img src="/img/title-01.png" class="img-fluid"
                        alt="The Toki Ponist on the Mountain Logo"></a></div>
            <div class="col-md-6 px-0 align-self-center">
                <p class="lead">
                    Everybody needs a guru. Therefore, I need one too. Fortune has it that I am one, so I decided to be
                    my
                    own guru. In games, novels, and scriptures it will be unveiled, one step at a time, how I became
                    <strong>The
                        Toki Ponist on the Mountain</strong>.
                </p>
                <p class="lead">You have reached the 'novels' entrance, explore the rest <a href="/">here</a>.</p>
                <script type='application/javascript' src='https://ko-fi.com/widgets/widget_2.js'>
                </script>
                <script type='application/javascript'>
                    kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'W7W4Y6U0');
                    kofiwidget2.draw();
                </script>
            </div>
        </div>

        <section class="project-content">
            <article class="project-full">
                    <h1>TTPotM: The Novels</h1>
                    <p>Writing is an attempt to cohere the maelstrom of ideas that pop in and sadly also out of the mind. From the illustrated short stories I wrote as a child, angsty teen poetry and a failed tweens attempt to write my own bible, I now lay down these words in the form of long stories.</p>
                    <p>The following stories have taken shape during the National November Writing Months (<a href="https://nanowrimo.org/" target="_blank">NaNoWriMo</a>) from 2017 up to 2020. Between a full-time job, a multi-child family, and several other pet projects, I am slowly editing my words into coherent wholes.</p>
                    <p>These are:</p>
                    <ol>
                        <li><a href="#piqued">Piqued - A Toki Ponist Adventure</a>: written last, in 2020, but finished first</li>
                        <li><a href="#ttpotm">The Toki Ponist on the Mountain novel</a>: written first, in 2017 and 2018, finished but slowly released while editing</li>
                        <li><a href="#podlife">Life on the Pods</a>: the sequal written in 2019, strong but unfinished additional storylines</li>
                    </ol>

                    <p>The stories explore the mysteries of life and the universer in a familiar world with unfamiliar elements, mixing satire and sci-fi elements with non-dominating magical fantasy.</p>

                    <h2 id="piqued">Piqued - A Toki Ponist Adventure</h2>
                    <img src="/img/novel/piqued-cover.png" alt="piqued cover"
                        class="img-thumbnail border-0 col-md-6 float-left">
                    <p>Read the story online for free below or <a href="https://ko-fi.com/s/a9555dc4b0" target="_blank">download the preliminary epub</a> while it is undergoing (community-based) proof-reading. A final epub and printed version will follow soon.</p>
                    <div style="clear:both;"></div>

                    <h3>Blurb</h3>
                    <p>Tipi is an enigmatic guru who has recently lost his transcended state of enlightenment by stubbing his big toe. When three of his most devout followers set him back on a path of reclaiming his mountaintop, he meets clever 6-year-old Julian who has lost his parents during a hike. Now, while trying to get Julian home, Tipi has to figure out what The Mountain really means in his life on a journey through time, space, and consciousness.</p>
                    
                    <h3>Read the whole story online for free:</h3>

                    <ul class="col-list">
                        {{#each collections.novel_piqued}}
                        <li><a class="text-dark" href="/{{ path }}/">{{ title }}</a></li>
                        {{/each}}
                    </ul>

                    <h2 id="ttpotm">The Toki Ponist on the Mountain</h2>
                        <p>To combat Joakim's feelings of enstrangement, he tries to uncover a lost civilization based on a few peculiar words he has picked up in a language he will refer to as Toki Pona. To Joakim, the ancient wisdom of this civilization will set him free. But then he gets trapped in his search when a doctor surgically removes his demons. Now, with the help of a kindred spirit, Joakim finds out who has been sending him messages and what the actual monster is they both have to battle.</p>
                        <p>An interdimensional drama, <b>The Toki Ponist on the Mountain</b> is an eclectic read.</p>
                    
                    <h3>Read the first chapters here:</h3>
                    <ul class="col-list">
                        <li><b>Prologue <code>open</code></b></li>
                        {{#each collections.novel}}{{#if prologue}}
                        <li><a class="text-dark" href="/{{ path }}/">{{ title }}</a></li>
                        {{/if}}{{/each}}
                        <li><b>Part 1: The Search <code>nasin</code></b></li>
                        {{#each collections.novel}}{{#if part1}}
                        <li><a class="text-dark" href="/{{ path }}/">{{ title }}</a></li>
                        {{/if}}{{/each}}
                        <li><b>Part 2: The Fight <code>utala</code></b></li>
                        <li>10,9,8</li>
                        <li>...</li>
                        <li><b>Part 3: The Mountain <code>ma nena suli</code></b></li>
                        <li>Arriving at the Pods</li>
                        <li>...</li>
                        <li><b>Epilogue <code>pini</code></b></li>
                        <li>Afterthought</li>
                    </ul>

                    <h2 id="podlife">Life on the Pods</h2>
                        <p>Life on the Pods is a project that serves as a sequal to <b>The Toki Ponist on the Mountain</b> novel. It follows more carefully several new and old characters in the Pod world, the Storyrealm, and well here.</p>
                        <p>Once the first novels have been published the text of this manuscript will be slowly released as well.</p>
                        
                    <ul class="col-list">
                        <li>Lev on the Pods</li>
                        <li>The life of Mun</li>
                        <li>The discovery of The Threesome</li>
                        <li>Tipi in the Storyrealm</li>
                    </ul>

                    <h2>About the author</h2>
                    
                    <img src="/img/self-portrait-01.png" alt="author"
                        class="img-thumbnail border-0 col-md-3 float-left mb-4 mt-4">
                    <p><strong>Olaf Janssen</strong> is an author like he is many other things. With a PhD in
                        nanophysics and
                        experience as a developer and in teaching all sorts of things, his favorite pass-time is to be
                        confused and
                        to translate that into words and more.</p>
                    <p>He is not The Toki Ponist, but he could be.</p>
                    <div style="clear:both;"></div>
                    </article>
                    </section>
    </div>
    <div class="nav-bar navbar-dark p-3 mu-3" style="background-color: black;">
        <span class="navbar-text">
            <a class="nav-link" href="/disclaimer/">Disclaimer | disclosure | self-critique</a>
        </span>
        <span>
            <script type='application/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
            <script type='application/javascript'>
                kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'W7W4Y6U0');
                kofiwidget2.draw();
            </script>
        </span>
        <span class="navbar-text self-right">
            <a class="" href="https://www.facebook.com/gaming/ttpotm">Facebook</a> | 
            <a class="" href="https://twitter.com/TTPotM" target="_blank">Twitter</a> | 
            <a class="" href="https://www.instagram.com/ttpotm/" target="_blank">Instagram</a>
        </span>
        <span class="navbar-text self-right">
            The Toki Ponist on the Mountain by <a href="https://awokenwell.com" target="_blank">Awoken Well</a>, 2021
        </span>
    </div>   
</html>