<!DOCTYPE html>
<html lang="en">

<head>
    <script>document.write('<base href="'+ (window.location.hostname === 'olafjanssen.github.io' ? '/ttpotm/' : '/') + '">');</script>
    <title>
        TTPotM - {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}img/{{ thumb }}">
    <meta property="og:site_name" content="TTPotM">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}{{ path }}/">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@nullelement" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{url}}img/{{ thumb }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/boilerpuddy.css">

    <link rel="canonical" href="{{ url }}{{ path }}/" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-iphone.png" />

    <link rel="stylesheet" type="text/css" href="css/portal.css">
</head>

<body class="typeset">
    <div class="container">
        <div class="jumbotron row p-3 p-md-5 text-dark rounded bg-transparent" id="main-jumbo">
            <div class="col-md-6 px-0">
                <a href="/"><img src="img/ttpotm.png" class="img-fluid" alt="TTPotM Collective"></a>
                <h1>{{ title }}</h1>
                <h2>{{ subtitle }}</h2>
                <p>{{ blurb }}</p>
                <p>Available as epub and paperback on, e.g.:</p>
                <p><a class="cta" href="https://www.kobo.com/search?query=olaf%20ta%20janssen&fclanguages=en">Kobo</a>
                <a class="cta" href="https://www.amazon.com/s?k=olaf%20t.a.%20janssen">Amazon</a>
                <a class="cta" href="https://www.bravenewbooks.nl/site/userwebsite/index/id/olaf.janssen">BraveNewBooks</a>
                <a class="cta" href="https://www.bol.com/nl/nl/b/olaf-t-a-janssen/609102911/">Bol</a>
                </p>
            </div>
            <div class="col-md-6 px-0 align-self-center">
                <class="book-card-img">
                    <div class="book-3d">
                    <div class="book-3d__inner">
                        <img class="book-3d__cover" src="{{ cover }}" alt="{{ title }}">
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 content-main book-outline">
                    {{{contents}}}
                </div>

                <aside class="col-md-4 blog-sidebar">
                    <h3>Keywords</h3>
                    <div class="keywords">
                        {{#each keywords}}
                        <span class="keyword-tag">#{{this}}</span>
                        {{/each}}
                    </div>

                    <h3>About the author</h3>
                    <img src="img/self-portrait-01.png" alt="author"
                        class="img-thumbnail border-0 col-md-10 col-offset-2">
                    <p><b>Olaf T.A. Janssen</b> is a Dutch educator, storyteller, with a PhD in computational optical nanophysics, and a disloyal Auditor Apparent of the Collège de ’Pataphysique&mdash;because sometimes the best way to explore reality is to question it. For over a decade, he has taught computer science and coached flurries of students. He blends analytical rigor with a passion for game design, dabbling in both real and invented languages.</p>
                    <p>When he’s not writing, you might find him bumping doorframes as a left-handed, red-green color-blind, 2 meters tall giant, or pondering the quirks of aphantasia and AuDHD. His stories, like his mind, often stray from the expected&mdash;embracing the wild, the flawed, and the wonderfully human.</p>
                </aside>
            </div>

        </main>

        <div class="nav-bar navbar-dark p-3 mu-3" style="background-color: black;">
            <span class="navbar-text">
                <a class="nav-link" href="about/disclaimer/">Disclaimer | disclosure | self-critique</a>
            </span>
            <span>
                <!--<script type='application/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
                <script type='application/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'W7W4Y6U0');kofiwidget2.draw();</script>-->
            </span>
            <span class="navbar-text self-right">
            </span>
            <span class="navbar-text self-right">
                TTPotM Collective, nominally curated by Olaf T.A. Janssen
            </span>
        </div>
</html>
