<!DOCTYPE html>
<html lang="en">

<head>
    <script>document.write('<base href="'+ (window.location.hostname === 'olafjanssen.github.io' ? '/ttpotm/' : '/') + '">');</script>
    <title>
        TTPotM - {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}img/{{ thumb }}">
    <meta property="og:site_name" content="TTPotM">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}{{ path }}/">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@nullelement" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{url}}img/{{ thumb }}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/boilerpuddy.css">

    <link rel="canonical" href="{{ url }}{{ path }}/" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-iphone.png" />

    <link rel="stylesheet" type="text/css" href="css/portal.css">
</head>

<body class="typeset">
    <div class="container">
        <div class="jumbotron row p-3 p-md-5 text-dark rounded bg-transparent" id="main-jumbo">
            <div class="col-md-6 px-0">
                <img src="img/ttpotm.png" class="img-fluid" alt="TTPotM Collective">
                <h1>{{ title }}</h1>
                <h2>{{ subtitle }}</h2>
                <p>{{ blurb }}</p>
            </div>
            <div class="col-md-6 px-0 align-self-center">
                <div class="book-card-img">
                    <div class="book-3d">
                    <div class="book-3d__inner">
                        <img class="book-3d__cover" src="{{ cover }}" alt="{{ title }}">
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 content-main book-outline">
                    {{{contents}}}
                </div>

                <aside class="col-md-4 blog-sidebar">
                    <div class="card flex-md-row tp-card-border mb-2">
                        <div class="card-body">
                            <a class="text-dark" href="games/">
                                <h3 class="card-title"><code>ilo musi</code> ~ games</h3>
                                <p class="card-text">Enter the universe in a Point & Click Adventure fashion; and play
                                    the first
                                    escape game episode now, linked to the novel.</p>
                                <div class="my-card-img" style="background-image: url(img/topic-home.png);"></div>
                            </a>
                        </div>
                    </div>

                    <h3>About the author</h3>
                    <img src="img/self-portrait-01.png" alt="author"
                        class="img-thumbnail border-0 col-md-10 col-offset-2">
                    <p><strong>Olaf Janssen</strong> is an author like he is many other things. With a PhD in
                        nanophysics and
                        experience as a developer and in teaching all sorts of things, his favorite pass-time is to be
                        confused and
                        to translate that into words and more.</p>
                    <p>He is not The Toki Ponist, but he could be.</p>
                </aside>
            </div>

        </main>

</html>
