<!DOCTYPE html>
<html lang="en">

<head>
    <script>document.write('<base href="'+ (window.location.hostname === 'olafjanssen.github.io' ? '/ttpotm/' : '/') + '">');</script>
    <title>
        TTPotM - {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}img/logo-01.png">
    <meta property="og:site_name" content="The Toki Ponist on the Mountain">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}{{ path }}/">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content=@nullelement" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{url}}img/logo-01.png" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/boilerpuddy.css">

    <link rel="canonical" href="{{ url }}{{ path }}/" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-iphone.png" />

    <link rel="stylesheet" type="text/css" href="css/topic.css">
</head>

<body class="typeset">

    <a href=""><img id="title-img" src="img/ttpotm.png" alt="TTPotM Collective"></a>

    <section class="project-content">
        <article class="project-full">
            <h1>
                {{#if longtitle}}
                {{ longtitle }}
                {{else}}
                {{ title}}
                {{/if}}
            </h1>
            <p class="project-full-blurp">
                {{{ description }}}
            </p>

            <div id="cnt-{{ tag }}" class="project-full-content">
                {{{ contents }}}
            </div>
        </article>
    </section>

    <div class="nav-bar navbar-dark p-3 mu-3" style="background-color: black;">
        <span class="navbar-text">
            <a class="nav-link" href="about/disclaimer/">Disclaimer | disclosure | self-critique</a>
        </span>
        <span class="navbar-text self-right">
            <a href="https://awokenwell.com">Awoken Well</a> (2026)
        </span>
    </div>
</body>

</html>
